body {
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#slider {
  width: 50%;
}

h1 {
  font-size: 50px;
  font-family: proxima-nova, sans-serif;
}
